<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <a routerLink="/employees" class="btn btn-ghost text-xl">
            Hospital
            <span class="text-green-400">Área de Empleados</span>
        </a>
    </div>
    <div class="flex-none">
        <div class="dropdown dropdown-end px-12">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-14 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                src='https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp' />
            </div>
          </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-300 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a>
                        Perfil
                        <span class="badge">Editar</span>
                    </a>
                </li>
                <li><button (click)="authStore.logout()">Cerrar Sesión</button></li>
            </ul>
        </div>
    </div>
</div>