<div class="card bg-base-300 shadow-md h-full">
  <div class="card-body">
    <div class="flex justify-between items-center mb-4">
      <h2 class="card-title text-secondary">Cirugías</h2>
      <button
        data-cy="create-surgery"
        class="btn btn-xs btn-primary"
        (click)="createSurgery()"
      >
        Agendar Cirugía
      </button>
    </div>

    @if (!surgeries?.content?.length) {
    <div class="text-center text-accent h-full flex items-center">
      <p class="text-2xl">No se encontraron cirugías</p>
    </div>
    } @else {
    <div class="overflow-x-auto">
      <table class="table table-sm">
        <thead class="text-accent">
          <tr>
            <th>Fecha</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Especialistas</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          @for (surgery of surgeries?.content; track surgery.id) {
          <tr class="even:bg-base-200 hover:bg-accent-content">
            <td>{{ surgery.performedDate | date : "dd/MM/yyyy" }}</td>
            <td>{{ surgery.description || "N/A" }}</td>
            <td>
              {{
                (surgery.tariffPrice | currency : "GTQ" : "symbol-narrow") ||
                  "N/A"
              }}
            </td>
            <td>
              <div class="text-xs">
                @for (specialist of surgery.specialists; track specialist.id) {
                <p>
                  <span class="opacity-70">
                    {{ typeToString(specialist.type) }}:
                  </span>
                  {{ specialist.fullName }}
                </p>
                } @empty {
                <p class="text-center h-full flex items-center">
                  <span class="opacity-70">
                    No se encontraron especialistas
                  </span>
                </p>
                }
              </div>
            </td>
            <td>
              <span
                class="badge badge-sm badge-soft"
                [class.badge-warning]="!isCompleted(surgery)"
                [class.badge-success]="isCompleted(surgery)"
              >
                {{ isCompleted(surgery) ? "Completada" : "Agendada" }}
              </span>
            </td>
            <td>
              @if (!isCompleted(surgery)) {
              <div class="flex justify-center items-center gap-2">
                <button
                  class="btn btn-xs btn-warning btn-outline"
                  (click)="editSurgery(surgery)"
                >
                  <i-lucide [img]="Edit" size="12" class="h-4 w-4" />
                </button>

                <button
                  class="btn btn-xs btn-warning btn-outline"
                  (click)="appendEmployee(surgery)"
                >
                  <i-lucide [img]="Add" size="12" class="h-4 w-4" />
                </button>
              </div>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="flex justify-center items-center gap-2 mt-auto">
      <button
        class="btn btn-xs btn-ghost"
        [class.btn-disable]="surgeries?.first"
        [class.text-primary]="!surgeries?.first"
        (click)="!surgeries?.first && fetchSurgeries(false, true)"
      >
        <i-lucide [img]="Previous" />
      </button>

      <span class="text-xs text-center">
        {{ (surgeries?.number || 0) + 1 }} de {{ surgeries?.totalPages || 0 }}
      </span>

      <button
        class="btn btn-xs btn-ghost"
        [class.btn-disable]="surgeries?.last"
        [class.text-primary]="!surgeries?.last"
        (click)="!surgeries?.last && fetchSurgeries(true, false)"
      >
        <i-lucide [img]="Next" />
      </button>
    </div>
    }
  </div>
</div>
