<aside class="bg-transparent shadow-md transition-all duration-300 ease-in-out h-full py-4" [ngClass]="{
    'w-[60px]': isCollapsed,
    'w-[180px]': !isCollapsed
  }">
  <button class="btn btn-ghost btn-sm mt-1 mx-1 mb-3" (click)="toggleCollapsed()">
    <i-lucide [img]="isCollapsed ? Menu : Close"></i-lucide>
  </button>

  <!-- Menú -->
  <ul
    class="bg-base-100 px-0 flex flex-col items-stretch space-y-2 h-full pt-2 transition-all duration-300 ease-in-out border-t-1 border-r-1 rounded-tr-md">
    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Dashboard">
      <a class="btn btn-ghost px-4 justify-start w-full" routerLink="/employee-management/dashboard">
        <i-lucide [img]="Dashboard"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Dashboard</span>
        }
      </a>
    </li>

    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Registrar empleados">
      <a class="btn btn-ghost px-4 justify-start w-full" routerLink="/employee-management/register">
        <i-lucide [img]="PublishMagazine"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Registrar empleados</span>
        }
      </a>
    </li>

    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Gestionar Vacaciones">
      <a class="btn btn-ghost px-4 justify-start w-full" routerLink="/employee-management/vacations">
        <i-lucide [img]="Magazines"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Vacaciones</span>
        }
      </a>
    </li>

    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Gestionar areas de trabajo">
      <a class="btn btn-ghost px-4 justify-start w-full" routerLink="/employee-management/areas">
        <i-lucide [img]="PublishIssue"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Areas</span>
        }
      </a>
    </li>

    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Gestionar Empleados">
      <a class="btn btn-ghost px-4 justify-start w-full" routerLink="/employee-management/employees">
        <i-lucide [img]="Wallet"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Empleados</span>
        }
      </a>
    </li>

    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Gestion de pagos a medicos especialistas">
      <a class="btn btn-ghost px-4 justify-start w-full" routerLink="/employee-management/payment-specialist">
        <i-lucide [img]="Payment"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Pago especialistas</span>
        }
      </a>
    </li>

    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Reportes">
      <a class="btn btn-ghost px-4 justify-start w-full" routerLink="/employee-management/home-reports">
        <i-lucide [img]="Reports"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Reportes</span>
        }
      </a>
    </li>
  </ul>
</aside>