<div class="min-h-screen p-4">
  <!-- Header -->
  <header class="navbar ">
    <div class="flex-1">
      <h1 class="text-2xl font-bold ml-4">Gestión de Inventario</h1>
    </div>
    <div class="flex flex-row gap-3">
      <button data-cy="create-medicine" class="btn btn-primary" (click)="startCreateMedicine()">
        <lucide-icon [name]="Plus" class="w-4 h-4"></lucide-icon>
        Nuevo Medicamento
      </button>
    </div>
  </header>

  <!--Dialog to add medicine-->
  <dialog #newMedicine class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h2 class="text-lg font-bold mb-3">Nuevo Medicamento</h2>
      <form [formGroup]="form" class="grid grid-cols-2 gap-4">
        <div class="flex flex-col">
          <label>Nombre</label>
          <input type="text" class="input input-bordered w-full max-w-xs" formControlName="name" name="name" />
        </div>
        <div class="flex flex-col">
          <label>Precio Unitario</label>
          <input type="text" class="input input-bordered w-full max-w-xs" formControlName="unitPrice" name="unitPrice" />
        </div>
        <div class="flex flex-col">
          <label>Costo Unitario</label>
          <input type="text" class="input input-bordered w-full max-w-xs" formControlName="unitCost" name="unitCost" />
        </div>
        <div class="flex flex-col">
          <label>Stock</label>
          <input type="text" class="input input-bordered w-full max-w-xs" formControlName="stock" name="stock" />
        </div>
        <div class="flex flex-col">
          <label>Mínimo en Stock</label>
          <input type="text" class="input input-bordered w-full max-w-xs" formControlName="minStock" name="minStock" />
        </div>
      </form>
      <div class="modal-action">
        <button class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        @if (editMode) {
        <button data-cy="update-medicine" class="btn btn-primary" (click)="updateMedicine()">Actualizar</button>
        } @else {
        <button data-cy="create-medicine-confirm" class="btn btn-primary" (click)="createMedicine()">Crear</button>
        }
      </div>
    </div>
  </dialog>
  <!-- Body -->
  <main class="container mx-auto p-4">
    <p class="text-lg mb-4">
      Gestione el inventario de medicamentos de la farmacia. Los medicamentos con stock bajo se muestran en rojo.
    </p>

    <!-- Search Bar -->
    <div class="mb-4 flex gap-2 items-center">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar medicamento..."
        class="input input-bordered w-full max-w-xs" />
      <button class="btn btn-primary" (click)="onSearch()">Buscar</button>
    </div>


    <!-- Tabla -->
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio Unitario</th>
            <th>Cantidad en Stock</th>
            <th>Mínimo en Stock</th>
            <th>Costo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredInventory"
            [ngClass]="{ 'bg-error bg-opacity-20': item.stock < item.minStock }">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.unitPrice | currency:'Q' }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.minStock }}</td>
            <td>{{ item.unitCost | currency:'Q' }}</td>
            <td class="flex gap-2">
              <button class="btn btn-sm btn-outline" (click)="editMedicine(item.id)">Editar</button>
              <button data-cy="buy-medicine" class="btn btn-sm btn-outline" (click)="buyMedicine(item.id)">Comprar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>


<!-- Modal de Recarga -->
<dialog #modal class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Comprar Medicamento</h3>

    <p class="py-2">Ingrese la cantidad a comprar</p>

    <input type="number" class="input input-bordered w-full" [(ngModel)]="quantity" name="medecine-quantity"
    placeholder="Ejemplo: 15" min="0" step="0.01" required />

    <div class="modal-action">
      <button data-cy="buy-medicine-confirm" class="btn btn-success" (click)="purchache()">Comprar</button>
      <button class="btn btn-error" (click)="closeModalPurch()">Cancelar</button>
    </div>
  </div>
</dialog>