<h1 class="text-2xl font-bold text-center">Registro de Empleados</h1>

<div class="max-w-4xl mx-auto p-6 mt-8">
    <!-- Línea de pasos -->
    <div class="flex items-center justify-between mb-8">
        @for (step of steps; track $index) {
        <div class="flex-1 text-center">
            <div [class]="
                    'w-10 h-10 mx-auto rounded-full flex items-center justify-center ' +
                    (currentStep === $index + 1 ? 'bg-primary text-white' : 'bg-gray-300 text-black')
                  ">
                {{ $index + 1 }}
            </div>
            <div class="mt-2 text-sm font-semibold">{{ step }}</div>
        </div>
        }

    </div>

    <!-- Paso 1: Datos del empleado -->
    @if (currentStep === 1) {
    <h3 class="text-center my-2 mb-5">Ingrese los datos del empleado</h3>
    <form>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <!-- Nombre completo -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Nombre completo</span>
                </label>
                <input type="text" class="input input-bordered w-full" [(ngModel)]="employee.name" name="name" required
                    placeholder="nombre del empleado" />
            </div>

            <!-- CUI -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Documento de identificación</span>
                </label>
                <input type="text" class="input input-bordered w-full" [(ngModel)]="employee.cui" name="cui"
                    placeholder="CUI" required />
            </div>

            <!-- Teléfono -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Teléfono</span>
                </label>
                <input type="tel" class="input input-bordered w-full" [(ngModel)]="employee.phone" name="phone"
                    placeholder="+502" required />
            </div>

            <!-- Email -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Correo electrónico</span>
                </label>
                <input type="email" class="input input-bordered w-full" [(ngModel)]="employee.email" name="email"
                    placeholder="ejemplo@gmail.com" required />
            </div>

            <!-- Área -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Área de trabajo</span>
                </label>
                <select class="select select-bordered w-full" [(ngModel)]="employee.areaId" name="area" required>
                    <option disabled [ngValue]="null">Seleccione un área</option>
                    @for (area of areas; track $index) {
                    <option [value]="area.id">{{ area.name }}</option>
                    }
                </select>
            </div>

            <!-- Especialista -->
            <label class="cursor-pointer label justify-start gap-2">
                <input type="checkbox" class="checkbox" [(ngModel)]="employee.isSpecialist" name="isSpecialist" />
                <span class="label-text">Es especialista</span>
            </label>
        </div>

        <div class="flex justify-end">
            <button class="btn btn-primary" type="button" (click)="nextStep()">Siguiente</button>
        </div>
    </form>
    }


    <!-- Paso 2: Datos del contrato -->
    @if (currentStep === 2) {
    <h3 class="text-center my-2 mb-5">Ingrese los datos del contrato</h3>
    <form>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
            <!-- Fecha de inicio -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Fecha de inicio de contrato</span>
                </label>
                <input type="date" class="input input-bordered w-full" [(ngModel)]="contract.startDate" name="startDate"
                    required />
            </div>

            <!-- Salario -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Salario base (Q)</span>
                </label>
                <input type="number" class="input input-bordered w-full" [(ngModel)]="contract.salary" name="salary"
                    placeholder="Ejemplo: 5000.00" min="0" step="0.01" required />
            </div>

            <!-- Descuento IGSS -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Descuento IGSS (%)</span>
                </label>
                <input type="number" class="input input-bordered w-full" [(ngModel)]="contract.iggs" name="iggs"
                    placeholder="Ejemplo: 4.83" min="0" max="100" step="0.01" required />
            </div>

            <!-- Descuento IRTRA -->
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Descuento IRTRA (%)</span>
                </label>
                <input type="number" class="input input-bordered w-full" [(ngModel)]="contract.irtra" name="irtra"
                    placeholder="Ejemplo: 1.00" min="0" max="100" step="0.01" required />
            </div>
        </div>

        <h5 class="text-center my-2 mb-5 text-sm">dejar en 0 si el empleado no cuenta con descuentos/beneficios </h5>


        <div class="flex justify-between">
            <button class="btn" type="button" (click)="prevStep()">Atrás</button>
            <button class="btn btn-primary" type="button" (click)="nextStep()">Siguiente</button>
        </div>
    </form>
    }


    <!-- Paso 3: Confirmación -->
    @if (currentStep === 3) {
    <div>
        <div class="bg-base-200 p-6 rounded-lg mb-6 space-y-4">
            <h3 class="text-lg font-bold mb-2">Confirmación</h3>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <p><span class="font-semibold">Nombre:</span> {{ employee.name }}</p>
                    <p><span class="font-semibold">CUI:</span> {{ employee.cui }}</p>
                    <p><span class="font-semibold">Teléfono:</span> {{ employee.phone }}</p>
                </div>
                <div>
                    <p><span class="font-semibold">Email:</span> {{ employee.email }}</p>
                    @if (employee.isSpecialist) {
                    <p><span class="font-semibold">Medico especialista:</span> SI</p>
                    }@else {
                    <p><span class="font-semibold">Salario:</span> Q{{ contract.salary }}</p>
                    <p><span class="font-semibold">fecha de incio de contrato: </span>{{ contract.startDate }}</p>
                    }

                </div>
            </div>

            <div class="mt-4">
                @if (employee.isSpecialist) {
                <p class="italic text-sm text-gray-600">
                    El medico es especialista por lo que no necesita se genera un contrato del paso 2 y tampoco cuenta con descuentos ni vacaciones.
                </p>
                }@else {
                <p class="italic text-sm text-gray-600">
                    Las vacaciones del empleado serán calculadas en base a un año de trabajo y tendrán una duración de
                    15 días hábiles,
                    a menos que se solicite un cambio.
                </p>
                }

            </div>
        </div>

        <div class="flex justify-between">
            <button class="btn" type="button" (click)="prevStep()">Atrás</button>
            <button data-cy="confirm-register" class="btn btn-success" type="button" (click)="submit()">Confrimar Registro</button>
        </div>
    </div>

    }

</div>


<!-- Modal  respuesta-->
<dialog #modal1 id="my_modal_1" class="modal">
    <app-modal-msg [content]="contentModal" [title]="titleModal" [className]="calssValue"></app-modal-msg>
</dialog>