<div class="max-w-4xl mx-auto p-6">
  <!-- Encabezado -->
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-3xl font-bold text-primary">
      {{ hotel()?.name }}
    </h2>

    <div class="flex gap-2">
      <button
        class="btn btn-accent text-sm px-4 py-2 rounded-lg shadow"
        (click)="goRooms()"
      >
        Ver habitaciones
      </button>
    </div>
  </div>

  <p class="text-gray-600 mb-2">direccion: {{ hotel()?.address }}</p>
  <p class="mb-4">Tel: {{ hotel()?.phone }}</p>
  <p class="mb-4">Total de habitaciones {{ hotel()?.totalRooms }}</p>

  <!-- Imagen -->
  <img
    [src]="hotelImageUrl"
    alt="Hotel"
    class="rounded-xl shadow-md w-full h-64 object-cover mb-6"
  />

  <!-- Info adicional -->
  <div class="mb-6">
    <p><strong>Total habitaciones:</strong> {{ hotel()?.totalRooms }}</p>
  </div>

  <!-- Comentarios -->
  <h3 class="text-xl font-semibold mb-4">Opiniones</h3>
  <div class="space-y-4 mb-6">
    @for (review of reviews(); track $index) {
    <div class="p-4 border rounded-lg shadow-sm bg-base-100">
      <div class="flex items-center mb-2">
        <span class="font-bold">{{ review.customerName }}</span>
        <div class="ml-2 flex text-yellow-400">
          @for (item of [1,2,3,4,5]; track $index) {
          <ng-container>
            @if (review.rating >= item) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 fill-current"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.975a1 1 0 00.95.69h4.178c.969 0 1.371 1.24.588 1.81l-3.385 2.46a1 1 0 00-.364 1.118l1.286 3.975c.3.921-.755 1.688-1.54 1.118l-3.385-2.46a1 1 0 00-1.175 0l-3.385 2.46c-.785.57-1.84-.197-1.54-1.118l1.286-3.975a1 1 0 00-.364-1.118L2.097 9.402c-.783-.57-.38-1.81.588-1.81h4.178a1 1 0 00.95-.69l1.286-3.975z"
              />
            </svg>
            }
          </ng-container>
          }
        </div>
      </div>
      <p>{{ review.comment }}</p>
    </div>
    }@empty {
    <!-- no hay datos-->
    <p class="text-gray-500">No hay opiniones aún.</p>
    }
  </div>
</div>
