<main class="relative min-w-fit max-w-full mx-4 py-4">
  <h1 class="text-3xl font-bold mb-4 text-center text-primary">
    Lista de Pacientes
  </h1>

  <div class="fixed top-24 right-8 flex gap-2 items-center">
    <input
      type="text"
      class="input input-bordered input-primary w-full"
      type="search"
      placeholder="Buscar pacientes"
      (change)="search($event)"
    />

    <button 
      data-cy="add-patient"
      class="btn btn-sm btn-soft outline btn-secondary tooltip px-1"
      data-tip="Crear nuevo paciente"
      (click)="addPatient()"
    >
      <i-lucide [img]="Add" size="18" />
    </button>
  </div>

  <div class="grid lg:grid-cols-2 xl:grid-cols-3 gap-4">
    @if (loading) {
    <div class="flex justify-center items-center w-full h-full min-h-44">
      <div class="text-center text-base-content text-3xl">
        <span class="loading loading-spinner loading-lg"></span>
      </div>
    </div>
    } @else { @for (patient of patients.content; track patient.id) {
    <div
      class="bg-base-300 rounded-box shadow-lg flex justify-between items-stretch p-4"
    >
      <div class="flex flex-col justify-between">
        <p class="text-secondary ellipse">{{patient.fullName}}</p>

        <p class="text-xs text-info">
          <span class="opacity-70">CUI: </span>
          <span class="opacity-80 font-semibold">{{patient.cui}}</span>
        </p>
      </div>

      <div class="text-xs flex flex-col justify-between gap-1">
        <p>
          <span class="opacity-60">Fecha de nacimiento: </span>
          <span class="opacity-70 font-semibold">
            {{(patient.birthDate | date:'shortDate') || 'No se ha informado'}}
          </span>
        </p>

        <p>
          <span class="opacity-60">Teléfono: </span>
          <span class="opacity-70 font-semibold">
            {{patient.phone || 'No se ha informado'}}
          </span>
        </p>

        <p>
          <span class="opacity-60">Email: </span>
          <span class="opacity-70 font-semibold">
            {{patient.email || 'No se ha informado'}}
          </span>
        </p>
      </div>

      <div class="shrink flex flex-col justify-around gap-1">
        <button
          data-cy="edit-patient"
          class="btn btn-xs btn-soft btn-warning px-1.5 tooltip"
          data-tip="Editar Paciente"
          (click)="editPatient(patient.id)"
        >
          <i-lucide [img]="Edit" size="18" />
        </button> 

        <a
          data-cy="patient-details"
          class="btn btn-xs btn-soft btn-info px-1.5 tooltip"
          data-tip="Detalles del Paciente"
          [routerLink]="['/patient-management/patient', patient.id, 'details']"
        >
          <i-lucide [img]="Details" size="18" />
        </a>
      </div>
    </div>
    } @empty {
    <div
      class="bg-base-300 col-span-3 flex justify-center items-center h-full min-h-44"
    >
      <div class="text-center text-base-content text-3xl">
        No hay pacientes registrados
      </div>
    </div>
    }}
  </div>
</main>
