<h1 class="text-xl font-bold text-center mb-6">Bienvenido al Dashboard de Administracion</h1>

<!-- tajets -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 mb-6">
    <div class="bg-neutral-content	rounded-xl shadow-lg p-3 text-center">
        <!-- total de empleados -->
        <app-tarjet [type]="'total_empleados'" [title]="'Total de empleados'" [value]="'15'"
            [label]="'total de empleados registrados'"></app-tarjet>
    </div>
    <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
        <!-- empleados con mas ventas -->
        <app-tarjet [type]="'total_empleados'" [title]="'Empleado'" [value]="'Juan Tzul'"
            [label]="'empleado con mas ventas de medicamentos'"></app-tarjet>
    </div>
    <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
        <!-- VAcaciones -->
        <app-tarjet [type]="'total_empleados'" [title]="'Vacaciones'" [value]="'15 dias'"
            [label]="'Dias de vacaciones'"></app-tarjet>
    </div>
    <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
        <!-- descuentos por igs y irtra -->
        <app-tarjet [type]="'total_empleados'" [title]="'Descuentos'" [title]="'Descuentos'" [value]="'20%'"
            [label]="'Los descuentos no pueden exceder'"></app-tarjet>
    </div>
</div>
<br>
<h3 class="text-xl font-bold text-center mb-6">Graficas en contruccion...</h3>
<br>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 p-6 max-w-7xl mx-auto">
    <!-- Card: Registrar Usuario -->
    <div class="card bg-base-100 shadow-xl border border-gray-200">
        <div class="card-body">
            <h2 class="card-title text-primary">Gestion de Empleado</h2>
            <p>Administra a los Usuarios que se han registrado en el sistema, aprovando cuentas, dando de baja.</p>
            <div class="card-actions justify-end">
                <button data-cy="manage-employee" class="btn btn-primary" (click)="goUsers()">Ir</button>
            </div>
        </div>
    </div>

    <!-- Card: Gestión de Habitaciones -->
    <div class="card bg-base-100 shadow-xl border border-gray-200">
        <div class="card-body">
            <h2 class="card-title text-secondary">Gestión de Habitaciones</h2>
            <p>Administra las habitaciones, crea habitaciones.</p>
            <div class="card-actions justify-end">
                <button class="btn btn-secondary" (click)="goRooms()">Ir</button>
            </div>
        </div>
    </div>



    <!-- Card: Reportes -->
    <div class="card bg-base-100 shadow-xl border border-gray-200">
        <div class="card-body">
            <h2 class="card-title text-warning">Reportes</h2>
            <p>Genera reportes detallados sobre la Ingresos, egresos y ganancias por areas.</p>
            <div class="card-actions justify-end">
                <button class="btn btn-warning" (click)="goReports()">Ir</button>
            </div>
        </div>
    </div>
</div>