<div class="card bg-base-300 shadow-md h-full">
  <div class="card-body">
    <div class="flex justify-between items-center mb-4">
      <h2 class="card-title text-secondary">Facturas</h2>
      @if (!currentBill) {
      <button data-cy="create-bill" class="btn btn-xs btn-primary" (click)="createBill()">
        Nueva Factura
      </button>
      }
    </div>

    @if (currentBill; as bill) {
    <div>
      <div class="bg-info-content p-4 rounded-lg">
        <div class="flex gap-2 items-start">
          <div class="text-sm w-full">
            <h3 class="font-bold text-lg text-accent mb-2">Factura Abierta</h3>
            <p>
              <span class="opacity-70">Total Actual:</span>
              {{ (bill.total | currency : "GTQ" : "symbol-narrow") || "N/A" }}
            </p>
            <p>
              <span class="opacity-70">Creada:</span>
              {{ bill.createdAt | date : "dd/MM/yyyy" }}
            </p>
            <p class="opacity-40 text-xs my-2">
              <span class="underline">Nota:</span>
              Para agregar un concepto, agrega una hospitalizacion, una consulta
              o una cirugía
            </p>
          </div>
        </div>

        <div class="flex justify-end gap-2 mt-2">
          <button
            data-cy="close-bill"
            class="btn btn-xs btn-error btn-outline"
            (click)="closeBill(bill)"
          >
            Cerrar Factura
          </button>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    } @if (!bills?.content?.length) {
    <div class="text-center text-accent h-full flex items-center">
      <p class="text-2xl">No se encontraron facturas</p>
    </div>
    } @else {
    <div class="overflow-x-auto">
      <table class="table table-sm">
        <thead class="text-accent">
          <tr>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
          </tr>
        </thead>

        <tbody>
          @for (bill of bills?.content; track bill.id) {
          <tr class="even:bg-base-200 hover:bg-accent-content">
            <td>{{ bill.createdAt | date }}</td>
            <td>
              {{ (bill.total | currency : "GTQ" : "symbol-narrow") || "N/A" }}
            </td>
            <td>
              <span
                class="badge badge-sm badge-soft"
                [class.badge-warning]="!bill.isClosed"
                [class.badge-success]="bill.isClosed && bill.isPaid"
                [class.badge-error]="bill.isClosed && !bill.isPaid"
              >
                {{
                  !bill.isClosed
                    ? "Abierta"
                    : bill.isPaid
                    ? "Pagada"
                    : "Sin Pagar"
                }}
              </span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="flex justify-center items-center gap-2 mt-auto">
      <button
        class="btn btn-xs btn-ghost"
        [class.btn-disable]="bills?.first"
        [class.text-primary]="!bills?.first"
        (click)="!bills?.first && fetchBills(false, true)"
      >
        <i-lucide [img]="Previous" />
      </button>

      <span class="text-xs text-center">
        {{ (bills?.number || 0) + 1 }} de {{ bills?.totalPages || 0 }}
      </span>

      <button
        class="btn btn-xs btn-ghost"
        [class.btn-disable]="bills?.last"
        [class.text-primary]="!bills?.last"
        (click)="!bills?.last && fetchBills(true, false)"
      >
        <i-lucide [img]="Next" />
      </button>
    </div>
    }
  </div>
</div>
