<h3 class="font-bold text-lg mb-2">Contrato nuevo</h3>
<p class="text-sm text-gray-500 mb-4">
  Al crear un contrato nuevo, si el empleado ya cuenta con uno vigente, este finalizará automáticamente y el nuevo quedará como el único vigente.
  La fecha de incio esta bloqueada, ya que el nuevo contrato estara en vigencia a parti de hoy (evitando errores)
</p>
<form>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
      <!-- Fecha de inicio -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Fecha de inicio de contrato</span>
        </label>
        <input
          type="date"
          class="input input-bordered w-full"
          [(ngModel)]="contract.startDate"
          name="startDate"
          disabled  
        />
      </div>
  
      <!-- Salario -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Salario base (Q)</span>
        </label>
        <input
          type="number"
          class="input input-bordered w-full"
          [(ngModel)]="contract.salary"
          name="salary"
          placeholder="Ejemplo: 5000.00"
          min="0"
          step="0.01"
          required
        />
      </div>
  
      <!-- Descuento IGSS -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Descuento IGSS (%)</span>
        </label>
        <input
          type="number"
          class="input input-bordered w-full"
          [(ngModel)]="contract.iggs"
          name="iggs"
          placeholder="Ejemplo: 4.83"
          min="0"
          max="100"
          step="0.01"
          required
        />
      </div>
  
      <!-- Descuento IRTRA -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Descuento IRTRA (%)</span>
        </label>
        <input
          type="number"
          class="input input-bordered w-full"
          [(ngModel)]="contract.irtra"
          name="irtra"
          placeholder="Ejemplo: 1.00"
          min="0"
          max="100"
          step="0.01"
          required
        />
      </div>
    </div>
  
    <p class="text-sm text-center text-gray-500 mb-5">
      Dejar en 0 si el empleado no cuenta con descuentos o beneficios.
    </p>
  
    <!-- Botón crear alineado a la derecha -->
    <div class="flex justify-end">
      <button data-cy="create-contract" class=" btn-outline btn btn-primary" type="submit" (click)="submit()">Crear</button>
    </div>
</form>


<!-- Modal  respuesta-->
<dialog #modal1 id="my_modal_1" class="modal">
    <app-modal-msg [content]="contentModal" [title]="titleModal" [className]="calssValue"></app-modal-msg>
</dialog>