<h1 class="text-xl font-bold text-center mb-6">
  Bienvenido al Dashboard de Recepcionista del {{ hotel()?.name }}
</h1>

<!-- tajets -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 mb-6">
  <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
    <!-- total de empleados -->
    <app-tarjet
      [type]="'total_empleados'"
      [title]="'Total de Reservacion'"
      [value]="'15'"
      [label]="'total de reservaciones pendientes'"
    ></app-tarjet>
  </div>
  <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
    <!-- empleados con mas ventas -->
    <app-tarjet
      [type]="'total_empleados'"
      [title]="'Cliente Leal'"
      [value]="'Juan Tzul'"
      [label]="'Cliente mas leal'"
    ></app-tarjet>
  </div>
  <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
    <!-- VAcaciones -->
    <app-tarjet
      [type]="'total_empleados'"
      [title]="'Total de habitaciones'"
      [value]="'5'"
      [label]="'Habitaciones en el hotal'"
    ></app-tarjet>
  </div>
  <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
    <!-- descuentos por igs y irtra -->
    <app-tarjet
      [type]="'total_empleados'"
      [title]="'Habitacion Top'"
      [title]="'Descuentos'"
      [value]="'AA-05'"
      [label]="'Habitacion con mas reservaciones'"
    ></app-tarjet>
  </div>
</div>

<div
  class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 p-6 max-w-7xl mx-auto"
>
  <!-- Card: Registrar Empleado -->
  <div class="card bg-base-100 shadow-xl border border-gray-200">
    <div class="card-body">
      <h2 class="card-title text-primary">Ver Detalles de Hotel</h2>
      <p>Ve los detalles del hotel.</p>
      <div class="card-actions justify-end">
        <button
          data-cy="register-employee"
          class="btn btn-primary"
          (click)="goHotel()"
        >
          Ir
        </button>
      </div>
    </div>
  </div>

  <!-- Card: Gestión de Vacaciones -->
  <div class="card bg-base-100 shadow-xl border border-gray-200">
    <div class="card-body">
      <h2 class="card-title text-secondary">Ver Habitaciones</h2>
      <p>Ver habitaciones existenes en el Hotel.</p>
      <div class="card-actions justify-end">
        <button
          data-cy="go-vacations"
          class="btn btn-secondary"
          (click)="goRooms()"
        >
          Ir
        </button>
      </div>
    </div>
  </div>

  <!-- Card: Gestión de Áreas -->
  <div class="card bg-base-100 shadow-xl border border-gray-200">
    <div class="card-body">
      <h2 class="card-title text-accent">Gestionar Reservaciones</h2>
      <p>Ver Todas la reservaciones.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-accent" (click)="goReservations()">Ir</button>
      </div>
    </div>
  </div>

</div>
