<div class="card bg-base-300 shadow-md h-full">
  <div class="card-body">
    <div class="flex justify-between items-center mb-4">
      <h2 class="card-title text-secondary">Hospitalizaciones</h2>
      @if (!currentAdmission) {
      <button class="btn btn-xs btn-primary" (click)="createAdmission()">
        Internar Paciente
      </button>
      }
    </div>

    @if (currentAdmission; as admission) {
    <div>
      <div class="bg-info-content p-4 rounded-lg">
        <div class="flex gap-2 items-start">
          <div class="text-sm w-full">
            <h3 class="font-semibold text-lg text-accent mb-2">
              Admisión Actual
            </h3>
            <p>
              <span class="opacity-70">Habitación:</span>
              {{ admission.roomNumber }}
            </p>
            <p>
              <span class="opacity-70">Fecha de ingreso:</span>
              {{ admission.admissionDate | date }}
            </p>
            <p>
              <span class="opacity-70">Estado:</span>
              {{
                admission.status === "ADMITTED" ? "Internado" : "Dado de alta"
              }}
            </p>
          </div>

          <div class="text-sm w-full overflow-y-auto">
            <h3 class="font-semibold text-lg text-accent mb-2">
              Personal Asignado
            </h3>
            @for (employee of admission.assignedEmployees; track employee.id) {
            <p>
              <span class="opacity-70">{{ typeToString(employee.type) }}:</span>
              {{ employee.fullName }}
            </p>
            } @empty {
            <p class="text-center h-full flex items-center">
              <span>No se encontraron empleados</span>
            </p>
            }
          </div>
        </div>

        <div class="flex justify-end gap-2 mt-2">
          <button
            data-cy="assign-employee"
            class="btn btn-xs btn-primary btn-soft w-fit"
            (click)="appendEmployee()"
          >
            Asignar Empleado
          </button>
          <button
            class="btn btn-xs btn-warning btn-outline w-fit"
            (click)="editCurrentAdmission()"
          >
            Editar Ingreso
          </button>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    } @if (!admissions?.content?.length) {
    <div class="text-center text-accent h-full flex items-center">
      <p class="text-2xl">No se encontraron hospitalizaciones</p>
    </div>
    } @else {
    <div class="overflow-x-auto">
      <table class="table table-sm">
        <thead class="text-accent">
          <tr>
            <th>Fecha Ingreso</th>
            <th>Fecha Alta</th>
            <th>Habitación</th>
            <th>Estado</th>
          </tr>
        </thead>

        <tbody>
          @for (admission of admissions!.content; track admission.id) {
          <tr class="even:bg-base-200 hover:bg-accent-content">
            <td>
              {{ admission.admissionDate | date : "dd/MM/yyyy" }}
            </td>
            <td>
              {{ (admission.dischargeDate | date : "dd/MM/yyyy") || "N/A" }}
            </td>
            <td>{{ admission.roomNumber }}</td>
            <td>
              <span
                class="badge badge-sm badge-soft"
                [class.badge-info]="isAdmitted(admission)"
                [class.badge-success]="!isAdmitted(admission)"
              >
                {{ isAdmitted(admission) ? "Activo" : "Finalizado" }}
              </span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="flex justify-center items-center gap-2 mt-auto">
      <button
        class="btn btn-xs btn-ghost"
        [class.btn-disable]="admissions?.first"
        [class.text-primary]="!admissions?.first"
        (click)="!admissions?.first && fetchAdmissions(false, true)"
      >
        <i-lucide [img]="Previous" />
      </button>

      <span class="text-xs text-center">
        {{ (admissions?.number || 0) + 1 }} de {{ admissions?.totalPages || 0 }}
      </span>

      <button
        class="btn btn-xs btn-ghost"
        [class.btn-disable]="admissions?.last"
        [class.text-primary]="!admissions?.last"
        (click)="!admissions?.last && fetchAdmissions(true, false)"
      >
        <i-lucide [img]="Next" />
      </button>
    </div>
    }
  </div>
</div>
