<main class="relative min-w-fit max-w-full mx-4 py-4">
  <!-- Estadísticas Rápidas -->
  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8 mx-6 mb-4">
    <div
      class="stat bg-radial-[at_0_0] from-base-300 via-base-300 via-60% to-primary/80 rounded-2xl"
    >
      <div class="stat-title text-primary">Pacientes Registrados</div>
      <div class="stat-value text-primary">{{ stat?.totalPatients || 0 }}</div>
    </div>

    <div
      class="stat bg-radial-[at_0_0] from-base-300 via-base-300 via-60% to-secondary/80 rounded-2xl"
    >
      <div class="stat-title text-secondary">Internaciones Activas</div>
      <div class="stat-value text-secondary">
        {{ stat?.activeAdmissions || 0 }}
      </div>
    </div>

    <div
      class="stat bg-radial-[at_0_0] from-base-300 via-base-300 via-60% to-accent/80 rounded-2xl"
    >
      <div class="stat-title text-accent">Cirugías Pendientes</div>
      <div class="stat-value text-accent">
        {{ stat?.pendingSurgeries || 0 }}
      </div>
    </div>

    <div
      class="stat bg-radial-[at_0_0] from-base-300 via-base-300 via-60% to-warning/80 rounded-2xl"
    >
      <div class="stat-title text-warning">Facturas Pendientes</div>
      <div class="stat-value text-warning">{{ stat?.pendingBills || 0 }}</div>
    </div>
  </div>

  <!-- Agenda del Día -->
  <div class="card bg-base-100 shadow-lg mb-8">
    <div class="card-body">
      <h2 class="card-title mb-4">Agenda del Día</h2>
      @if (schedule?.length) {
      <div class="overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th>Hora</th>
              <th>Paciente</th>
              <th>Tipo</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            @for (event of schedule; track $index) {
            <tr>
              <td>{{ event.time }}</td>
              <td>{{ event.patient }}</td>
              <td>
                <span class="badge" [ngClass]="event.typeClass">
                  {{ event.type }}
                </span>
              </td>
              <td>{{ event.description }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      } @else {
      <div
        class="bg-base-300 col-span-3 flex justify-center items-center h-full min-h-44"
      >
        <div class="text-center text-base-content text-3xl">
          No hay pacientes registrados
        </div>
      </div>
      }
    </div>
  </div>
</main>
