<h1 class="text-xl font-bold text-center mb-6">
  Bienvenido al Dashboard del Restaurante {{ restaurant()?.name }}
</h1>

<!-- tajets -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 mb-6">
  <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
    <!-- total de empleados -->
    <app-tarjet
      [type]="'total_empleados'"
      [title]="'Platillo Popular'"
      [value]="'Pizza Artesanal'"
      [label]="'Platillo mas vendido'"
    ></app-tarjet>
  </div>
  <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
    <!-- empleados con mas ventas -->
    <app-tarjet
      [type]="'total_empleados'"
      [title]="'Cliente Leal'"
      [value]="'Juan Tzul'"
      [label]="'Cliente con mas compras'"
    ></app-tarjet>
  </div>
  <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
    <!-- VAcaciones -->
    <app-tarjet
      [type]="'total_empleados'"
      [title]="'Ventas del Dia'"
      [value]="'15'"
      [label]="'Total de ventas realizadas en el dia'"
    ></app-tarjet>
  </div>

  <div class="bg-neutral-content rounded-xl shadow-lg p-3 text-center">
    <!-- VAcaciones -->
    <app-tarjet
      [type]="'total_empleados'"
      [title]="'Ganancias'"
      [value]="'Q4800'"
      [label]="'Total de ventas realizadas en el dia'"
    ></app-tarjet>
  </div>
</div>

<div
  class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 p-6 max-w-7xl mx-auto"
>
  <!-- Card: Registrar Empleado -->
  <div class="card bg-base-100 shadow-xl border border-gray-200">
    <div class="card-body">
      <h2 class="card-title text-primary">Ver Detalles del Restaurante</h2>
      <p>Ver todos los detalles del restaurantes.</p>
      <div class="card-actions justify-end">
        <button
          data-cy="register-employee"
          class="btn btn-primary"
          (click)="goDetails()"
        >
          Ir
        </button>
      </div>
    </div>
  </div>

  <!-- Card: Gestión de Vacaciones -->
  <div class="card bg-base-100 shadow-xl border border-gray-200">
    <div class="card-body">
      <h2 class="card-title text-secondary">Ver Menu</h2>
      <p>Ver todos los platillos del restaurante</p>
      <div class="card-actions justify-end">
        <button
          data-cy="go-vacations"
          class="btn btn-secondary"
          (click)="goDishes()"
        >
          Ir
        </button>
      </div>
    </div>
  </div>

  <!-- Card: Gestión de Áreas -->
  <div class="card bg-base-100 shadow-xl border border-gray-200">
    <div class="card-body">
      <h2 class="card-title text-accent">Registrar una Venta</h2>
      <p>Registra una orden y realiza la venta, genera la factura pdf.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-accent" (click)="goSale()">Ir</button>
      </div>
    </div>
  </div>

  <!-- Card: Reportes -->
  <div class="card bg-base-100 shadow-xl border border-gray-200">
    <div class="card-body">
      <h2 class="card-title text-warning">Ventas</h2>
      <p>Ver el historia de ventas y Genera la factura en PDF.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-warning" (click)="goReports()">Ir</button>
      </div>
    </div>
  </div>
</div>
