<aside class="bg-transparent shadow-md transition-all duration-300 ease-in-out h-full py-4" [ngClass]="{
    'w-[60px]': isCollapsed,
    'w-[180px]': !isCollapsed
  }">
    <button class="btn btn-ghost btn-sm mt-1 mx-1 mb-3" (click)="toggleCollapsed()">
        <i-lucide [img]="isCollapsed ? Menu : Close"></i-lucide>
    </button>

    <!-- Menú -->
    <ul
        class="bg-base-100 px-0 flex flex-col items-stretch space-y-2 h-full pt-2 transition-all duration-300 ease-in-out border-t-1 border-r-1 rounded-tr-md">
        <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Dashboard">
            <a class="btn btn-ghost px-4 justify-start w-full" routerLink="/hotel/dashboard">
                <i-lucide [img]="Dashboard"></i-lucide>
                @if (!isCollapsed) {
                <span class="truncate">Dashboard</span>
                }
            </a>
        </li>

        <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Detalles de hotel">
            <a class="btn btn-ghost px-4 justify-start w-full" (click)="goDetails()">
                <i-lucide [img]="Magazines"></i-lucide>
                @if (!isCollapsed) {
                <span class="truncate">Restaurante</span>
                }
            </a>
        </li>

        <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Habitaciones">
            <a class="btn btn-ghost px-4 justify-start w-full" (click)="goDishes()">
                <i-lucide [img]="PublishIssue"></i-lucide>
                @if (!isCollapsed) {
                <span class="truncate">Menu</span>
                }
            </a>
        </li>

        <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Reservaciones">
            <a class="btn btn-ghost px-4 justify-start w-full" (click)="goSale()">
                <i-lucide [img]="Payment"></i-lucide>
                @if (!isCollapsed) {
                <span class="truncate">Venta</span>
                }
            </a>
        </li>

        <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Reportes">
            <a class="btn btn-ghost px-4 justify-start w-full" (click)="goReports()">
                <i-lucide [img]="Reports"></i-lucide>
                @if (!isCollapsed) {
                <span class="truncate">Ventas</span>
                }
            </a>
        </li>
    </ul>
</aside>