<div class="space-y-6">
    <!-- Encabezado -->
    <div class="flex justify-between items-center">
        @if (isPending) {
        <h2 class="text-2xl font-bold">Solicitudes de Vacaciones Pendientes</h2>
        }@else {
        <h2 class="text-2xl font-bold">Vacaciones aprovadas de empleados</h2>
        }
        <div class="space-x-2">
            @if (isPending) {
            <button data-cy="create-vacation" class="btn btn-primary" (click)="openVacationForm()">Crear nueva solicitud</button>
            <button class="btn btn-outline" (click)="viewAllVacations()">Ver todas las vacaciones</button>
            }@else {
            <button class="btn btn-accent" (click)="viewRequestVacations()">Ver Solictudes</button>
            }
        </div>
    </div>

    <!-- Grid de tarjetas -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (request of vacations; track $index) {
        <div class="card bg-base-200 shadow-md border" [ngClass]="{
            'border-warning': request.state === 'PENDIENTE',
            'border-accent': request.state === 'APROVADA'
        }">
            <div class="card-body">
                <h3 class="card-title text-lg font-semibold" [ngClass]="{
                    'text-warning': request.state === 'PENDIENTE',
                    'text-accent': request.state === 'APROVADA'
                }">Solicitud de Vacaciones</h3>
                <div class="text-sm space-y-1">
                    <p><strong>Empleado:</strong> {{ request.fullName }}</p>
                    <p><strong>CUI:</strong> {{ request.cui }}</p>
                    <p><strong>Area trabajo:</strong> {{ request.name }}</p>
                    <hr />
                    <p><strong>Fecha de solicitud:</strong> {{ request.requestedDate }}</p>
                    <p><strong>Desde:</strong> {{ request.startDate }}</p>
                    <p><strong>Hasta:</strong> {{ request.endDate }}</p>
                    <p>
                        <strong>Estado:</strong>
                        <span class="badge" [ngClass]="{
                    'badge-warning': request.state === 'PENDIENTE',
                    'badge-success': request.state === 'APROVADA',
                    'badge-error': request.state === 'Rechazado'
                  }">
                            {{ request.state }}
                        </span>
                    </p>
                </div>

                @if (request.state === 'PENDIENTE') {
                <!-- Botones de acción -->
                <div class="card-actions justify-end mt-4 space-x-2">
                    <button data-cy="approve-request" class="btn btn-success btn-sm" (click)="approveRequest(request)">Aprobar</button>
                    <button data-cy="reject-request" class="btn btn-error btn-sm" (click)="rejectRequest(request)">Rechazar</button>
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>

<!-- Modal  respuesta-->
<dialog #modal1 id="my_modal_1" class="modal">
    <app-modal-msg [content]="contentModal" [title]="titleModal" [className]="calssValue"></app-modal-msg>
</dialog>

<!-- nueva solicitd-->
<dialog #modal class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg mb-2">Nueva Solicitud de vacaciones</h3>
        <p class="text-sm text-gray-500 mb-4">
            Al crear una solicitud el encargado lo debera de aprobar, Los dias de vacaiones son dias habiles.
        </p>
        <form>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
                <!-- Fecha de inicio -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Fecha de inicio </span>
                    </label>
                    <input type="date" class="input input-bordered w-full" [(ngModel)]="startDate" name="startDate" />
                </div>

                <!-- Salario -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Dias de vacaciones</span>
                    </label>
                    <input type="number" class="input input-bordered w-full" [(ngModel)]="days" name="salary"
                        placeholder="Ejemplo: 15" min="0" step="0.01" required />
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Empleado Solicitante</span>
                    </label>
                    <select class="select select-bordered w-full" [(ngModel)]="employeeId" name="area" required>
                        <option disabled [ngValue]="null">Seleccione un área</option>
                        @for (emp of employees; track $index) {
                        @if (!emp.isSpecialist) {
                        <option [value]="emp.id">{{ emp.fullName }}</option>
                        }
                        }
                    </select>
                </div>

                <!-- Fecha de fin -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Fecha de Finalizacion </span>
                    </label>
                    <input type="date" class="input input-bordered w-full" name="endate" disabled />
                </div>

            </div>


            <p class="text-sm text-center text-gray-500 mb-5">
                Solicitud debe de hacerse con una semana de anticipacion.
            </p>

            <!-- Botón crear alineado a la derecha -->
            <div class="modal-action">
                <button class="btn-outline btn btn-success" (click)="submit()">Confirmar</button>
                <button class="btn-outline btn-outlin btn btn-error" (click)="closeModalNew()">Cancelar</button>
            </div>
        </form>

    </div>
</dialog>